<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/signup.css">
    <title>Document</title>
</head>
<body>
    <div class="con">
        <img src="static\image\Group.png" width="650" height="500" class="signup">

        <div class="signupform">
            <form action="/user" class="loginform1" method="post">
                
                <p><b>Sign Up Here</b></p><br>
                <label for="can_email" class="emailid">Email-id :</label><br>
                <input type="email" id="can_email" class="can_email" name="emailid"><br>
                <label for="can_pass" class="pass">Password :</label><br>
                <input type="password" id="can_pass" class="can_pass" name="pass"><br><br>
                <input type="submit" value="Sign Up" class="sub"><br>
                <a href="/">login in </a>
            </form>
        </div>
    </div>
</body>
</html>