<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='table2.css') }}">
    <script src="https://kit.fontawesome.com/2360843bb3.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="static\table2.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="logo">
        <ul>
            <li class="logo1"><a href="/home"><i class="fa-brands fa-microsoft"></i></a></li>
            <li class="logo1"><a href="/upload2"><img src="static\image\4.png" class="home"></a></li>
            <li class="logo1"><a href="/table"><img src="static\image\3.png" class="candiate"></a></li>
            <li class="logo1"><a href="/compare"><img src="static\image\1.png" class="statistic"></a></li>
            <li class="logo1"><a href="#"><img src="static\image\2.png" class="setting1"></a></li>
            <li class="logo1"><a href="#"><img src="static\image\5.png" class="setting"></a></li>
            <li class="logo1"><a href="#"><img src="static\image\acc.png" class="account"></a></li>




        </ul>
        
    </div>
    <div class="con">
        <h1>Project Name</h1>
        <div class="searchfix">
           
                <div class="searcharea">
                <input type="text" id="searchbox" class="search" placeholder=" search here " onkeyup="searchFun()">
                <!-- 
                <i input type="submit" class="fa fa-search"></i>
                -->    
                <button class="sub" ><i class="fa fa-search" ></i></button>
                
                </div>
            
        </div>
        <form action="/compare" method="post">
            <div class="scroll">
                
                <table class="table_dis" id="table_data">
                    <div class="tabular" >
                    <tr>   
                        <th >check box</th>    
                        <th>can_id</th>
                        <th>name</th>
                        <th>education </th>
                        <th>skills</th>
                        <th>experience</th>
                        <th>email</th>
                        <th>link of resume</th>
                    </tr>
                    
                    <div class="data">
                        {% set count = namespace(value=1) %}
                        
                    {% for data in row %}
                    
                        {% set can_id = 'id' + count.value | string() %}

                        {% set count.value = count.value + 1 %}
                        <tr class="{{can_id}}">
                            
                            <td class="check" id="{{count.value-1}}"><input type="checkbox" class="checkit" name="check" value="{{count.value-1}}"></td>

                        {% for item in data %} 
                        
                        
                        <td>{{item}}</td>
                        
                        
                        {% endfor %}
                        <td><a href="#">resume</a></td>
                        </tr>
                    
                    {% endfor %}
                    </div>
                    </div>
                </table>
                
            </div>
            <input type="submit" value="compare">
        </form>
    </div>
    
</body>
</html>