<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form  action= "/back" method="Post" >
        <label for="first name"><b>First Name:   </b></label>
    <br>
    <input type="text" name="first name" placeholder="First Name" required>
        <input type="Submit" id="search" value="submit" class="search">
    </form>
    
</body>
</html>
